h1 {
  text-align: center;
  color:black;
  font-family: Verdana;
  font-size: 25px;
  font-weight: bold;
}
body {
  background-color: Linen;
  color: DimGray;
  font-family: Verdana;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 2px black;
}
p {
font-family:Tahoma;
}
footer {
  text-align:center;
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 600px;
  align-content: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
h2 {
font-weight: bold;
font-size: 15px;
text-decoration: underline;
}
h3 {
  font-size: 12px;
}
