h1 {
  text-align: center;
  color:black;
  font-family: Verdana;
  font-size: 25px;
  font-weight: bold;
}
body {
  background-color: Linen;
  color: DimGray;
  font-family: Verdana;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
font-family:Tahoma;
}
footer {
  text-align:center;
}


h2 {
font-weight: bold;
font-size: 15px;
text-decoration: underline;
}
h3 {
  font-size: 12px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: darkgray;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
