h1 {
  text-align: center;
  color:black;
  font-family: Verdana;
  font-size: 30px;
}
body {
  background-color: Linen;
  color: DimGray;
  font-family: Verdana;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
font-family:Tahoma;
}
footer {
  text-align:center;
}
*{
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 600px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
